.price{
    display: inline-block;
    position: relative;
    bottom: 6px;
}

.item{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.title{
    text-align: center;
}

.counterContainer{
    align-self: flex-end;
}

.counterContainer div{
    position: relative;
    top: 20px;
}