.nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 18vw;
}

.navContainer{
    position: absolute;
    display: flex;
}

.empty{
    width: 17vw;
}

@media only screen and (max-width: 1800px) {
    .empty {
      max-width: 190px;
    }
  }

.inactive{
    color: #8585AD;
}

.active{
    color: #F2F2F3;
}

.logout{
    cursor: pointer;
}