a.nav-title{
    display: inline-block;
    position: relative;
    bottom: 6px;
    text-decoration: none;
}

a.nav-title span.inactive{
    color: #8585AD;
}

a.nav-title span.active{
    color: #F2F2F3;
}