.container{
    display: flex;
    justify-content: center;
    height: 89vh;
    align-items: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    align-items: center;
}

.center{
    text-align: center;
}