.container{
    display:flex;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: #8585AD;
}

.center{
    text-align: center;
}

.buttonContainer{
    display: flex;
}