.price{
    display: inline-block;
    position: relative;
    bottom: 0.4rem;
}

.item{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.item div{
    text-align: center;
}