.header{
    background-color: #1C1C21;
    height: 8vh;
    min-height: 75px;
    width: 100%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68vw;
    margin: auto;
    min-width: 1270px;
}

.navContainer{
    width: calc(100vw / 4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navCenterContainer{
    justify-content: center;
}

.navEndContainer{
    justify-content: flex-end;
}


.logo svg{
    height: 5em;
    pointer-events: none;
}